@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Titan+One&display=swap');


*{
	padding: 0;
	margin: 0;
}
html {

}
body{
	background: url(../img/nature.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
main {
	background: #1CD3FB;
	width: 80%;
	color: #fff;
	border: 1px solid #1CD3FB;
	border-radius: 5px 10px;
	margin: 110px auto 0px;
	text-align: center;
	font-family: 'Lobster', cursive;
}
div.form-top {
	width: 50%;
	padding: 30px;
	background:  rgba(245, 56, 5, 0.85);
	margin: 20px auto 0px;
	color: #fff;
	border: 1px solid #F53805;
	border-radius: 5px 10px;
	text-align: center;
}
form {
	width: 50%;
	padding: 30px;
	background:  rgba(245, 56, 5, 0.85);
	margin: 0px auto 20px;
	color: #fff;
	border: 1px solid #F53805;
	border-radius: 5px 10px;
	text-align: center;
}
footer#mwisho {
	background: #383534;
	color: #F9F4F3;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
	bottom: 0;
	position: fixed;
	padding: 30px;
}